<div class="row">
    <div class="col-lg-12">
      <div class="accordion-item bg-dark text-white">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button bg-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <span><img src="/assets/icon/file-plus.svg" alt=""></span>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <form method="post" action="/admin">
              <div class="form-group mb-2">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username">
              </div>
              <div class="form-group mb-2">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
              </div>
              <div class="form-group mb-4">
                <label for="fullname">Fullname</label>
                <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Enter fullname">
              </div>
              <button type="submit" class="btn btn-primary">Create</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>